* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    width: 340px;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 70px;
}

.navbar {
    background: rgb(30, 1, 41);
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome {
    padding: 150px 0;
    height: 100vh;
    text-align: center;
    background: url(../img/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom {
    background: rgb(30, 1, 41);
    padding: 40px 0;
}

.bottom p {
    text-align: center;
    color: white;
    font-size: 20px;
}

.welcome h1 {
    color: rgb(255, 255, 255);
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 60px;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 7%;
}

.menu a {
    color: white;
    font-size: 18px;
    padding: 10px 3px;
    display: inline-block;
    border-radius: 15px;
}

.menu :hover {
    background-color: blueviolet;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0.9;
}

.menu :active {
    opacity: 0.8;
    transition: 0.2s;
    border-radius: 15px;
    background-color: rgba(109, 28, 184, 0.842);
}

.active {
    background-color: blueviolet;

}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.about {
    padding: 50px 0 0;
}

.about .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    max-width: 400px;
    margin: 0 auto;
}

.photo img {
    width: 100%;
}

.text {
    max-width: 600px;
    padding-top: 100px;
    margin: 0 auto;
}

.text h3 {
    font-size: 35px;
    margin-bottom: 40px;
}

.text p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.works {
    padding-top: 50px;
}

.card {
    width: 310px;
    background: rgb(30, 1, 41);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
}

.card h5 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

.card p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: white;
    border-radius: 15px;
    color: black;
}

.card a:hover {
    transition: 0.5s;
    opacity: 0.7;
}

.card img {
    border-radius: 10px;
}

.works .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact {
    padding: 50px 0;
}

.contact-address a img {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.contact-address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-address a {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}

.contact iframe {
    width: 100%;
    height: 300px;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
}
